<!DOCTYPE html>
<html>
<head>
    <title>Exam MCQs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/" class="home-link" style="display: none;">HOME</a>
    <div class="main-container">
        <div class="content-section">
            <h1 class="main-title">Exam MCQs</h1>
            <div class="mcq-container">
                <div id="question-container"></div>
                <div id="navigation-buttons"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html> 